{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "es6": true
    },
    "rules":{
        "linebreak-style": 0,
        "arrow-parens": [
            "error", "as-needed"
        ],
        "no-use-before-define": [
            "error", { "functions": false }
        ],
        "import/prefer-default-export": 0,
        "no-plusplus": [
            "error", { "allowForLoopAfterthoughts": true }
        ],
        "eqeqeq": [
            "error", "smart"
        ],
        "comma-dangle": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/react-in-jsx-scope": "off",
        "object-curly-newline": ["error", { "consistent": true }],
        "react/prop-types": "off",
        "no-unused-vars": "off",
        "no-confusing-arrow": "off",
        "no-return-assign": "off",
        "no-param-reassign": "off",
        "react/jsx-props-no-spreading": "off",
        "react/function-component-definition": "off"
      }
}